# Main values
PORT=:8080
DATABASE_PATH=./main.db
VISITOR_HASH_SALT=

# OpenWeather api (https://openweathermap.org/api)
WEATHER_CITY=
WEATHER_API_KEY=

# LastFM api (https://www.last.fm/api)
LAST_FM_USER=
LAST_FM_API_KEY=

# GitHub api (https://github.com)
GITHUB_USERNAME=
GITHUB_TOKEN=

# Steam api (https://steamcommunity.com/dev)
STEAM_ID=
STEAM_API_KEY=

# SteamGridDB api (https://www.steamgriddb.com/)
STEAM_GRID_DB_API_KEY=

# Telegram (https://telegram.org/)
TELEGRAM_CHAT_ID=
TELEGRAM_BOT_TOKEN=